.regOuter {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000000bf;
    position: absolute;
    z-index: 99;
    top: 0;
    display: none;
}

.register {
    width: 400px;
    height: 477px;
    background-color: #ffffff;
    position: absolute;
    margin: auto;
    top: 100px;
    right: 0;
    left: 0;
    text-align: center;
    position: relative;
}

.register .closeBtn {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.register button {
    border: none;
    outline: none;
    cursor: pointer;
}

.register img {
    margin: 30px 0;
}

.register .input {
    width: 319px;
    height: 37px;
    border: 1px solid lightgray;
    margin: 19px auto;
    text-align: left;
    line-height: 37px;
    position: relative;
}

.register .input input {
    outline: none;
    border: none;
    font-size: 13px;
    text-indent: 2em;
}

.register .input .code {
    position: absolute;
    width: 80px;
    height: 25px;
    background: rgba(242, 105, 21, 1);
    border-radius: 3px;
    font-size: 10px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.register .other {
    margin-top: 30px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
}

.register .other i {
    font-style: normal;
    color: #F06E1E;
    cursor: pointer;
}

.register .regbtn {
    width: 319px;
    height: 37px;
    background: rgba(240, 110, 30, 1);
    border-radius: 3px;
    margin-top: 41px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}